@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 81%);
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridbox{
    width: 75%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:2rem;
    border-radius: 1rem;
}

.item{
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.item1{
    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url('bg-pattern-quotation.svg') ;
    background-position: 80% 0;
    background-repeat: no-repeat;
}

.item2{
    background-color: hsl(217, 19%, 35%);
}

.item3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #fff;
    color: hsl(219, 29%, 14%);
}

.item4{
    background-color: #fff;
    color: hsl(219, 29%, 14%);
}

.item5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hsl(219, 29%, 14%);
} 

.profile{
    display: flex;
}

.namebox{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0 1.5rem;
}

.profile img{
    border-radius: 50%;
    width: 3rem;
}

.heading p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.content p{
    color: hsl(217, 10%, 55%);
}
p,span{
    letter-spacing: 0.3px;
    line-height: 18px;
}

.prof{
    font-size: 12px;
    color: hsl(217, 26%, 59%);
}

@media (max-width:375px){
    .gridbox{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }
}